# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://apnaaapan_user:apnaaapan_user@cluster0.libx8iw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=apnaaapan_user 

# Email Configuration (Gmail example)
EMAIL_USER=r66408650@gmail.com
EMAIL_PASS=cbry nwok tiwd kybz
RECIPIENT_EMAIL=r66408650@gmail.com

# Note: For Gmail, you need to:
# 1. Enable 2-factor authentication
# 2. Generate an App Password (not your regular password)
# 3. Use the App Password in EMAIL_PASS
